# Ignore everything at the top level...
/*

# ...except the tareas folder and this file
!/tareas/
!/.gitignore

# Junk files, even inside tareas
.DS_Store
.RData
.Rhistory
.zip
.Rmd
tareas/poisson/colab_dataset_A281.R
tareas/poisson/colab_dataset_A281.ipynb
tareas/poisson/decisiones_dataset.Rmd
tareas/poisson/Claude outputs/


# Large raw data
tareas/poisson/datos_egresos
tareas/poisson/datos_poblacion
tareas/poisson/figure
tareas/poisson/DICCIONARIO CODIGOS SP_24_V1.1.xlsm
